<main class="main-container container-fluid">
  <section class="col-md-11 ml-auto">
    <div class="heading">
      <h2>About Me</h2>
    </div>
    <form
      class="form-commits"
      id="form-submit"
      method="POST"
      action="/add-new/about-me/<%- about._id %>?_method=PUT"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="col-md-6">
          <%- include ('image_upload/uploader.ejs') %>
        </div>
        <div
          class="col-md-6 d-flex align-items-center justify-content-center"
          style="flex-direction: column;"
        >
          <div style="margin-top: -2em; padding: 1rem 0rem;">
            <p class="text-white text-center">
              <strong>Previous Image</strong>
            </p>
            <img
              src="<%- about.profilePic %>"
              style="width: 300px; height: 280px; object-fit: cover;"
              alt=""
            />
          </div>
        </div>
      </div>
      <%- include ('text_editor/editor.ejs',{desc: about.description }) %>
      <div class="form-group">
        <div class="btn-submit">
          <a href="/admin/dashboard">Cancel</a>
        </div>
        <button type="submit" class="btn-submit">Update</button>
      </div>
    </form>
  </section>
</main>
