@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$Primary: #121148;
$Secondary: #2a296c;
$Color: #ffffff;
$Black: #000000;
$Dim: #dddddd;
$Background: $Primary;

$Font: "Roboto", sans-serif;
