<!-- projects-section -->
<main class="main">
  <section class="wrappper contact">
    <img src="/public/images/right-vector.svg" class="right-vector" alt="" />
    <div class="heading not-found">
      <h2>404 Page not found !!!</h2>
    </div>
  </section>
</main>
