<div
  class="custom-file-container file-uploader-external"
  data-upload-id="myUniqueUploadId"
>
  <label>
    <a
      href="javascript:void(0)"
      class="custom-file-container__image-clear"
      title="Clear Image"
      >&times;</a
    ></label
  >
  <label class="custom-file-container__custom-file">
    <input
      type="file"
      class="custom-file-container__custom-file__custom-file-input"
      accept="*"
      aria-label="Choose File"
      name="profilePic"
    />
    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
    <span
      class="custom-file-container__custom-file__custom-file-control"
    ></span>
  </label>
  <div class="custom-file-container__image-preview"></div>
</div>
